*.pyc
*.swp

./build
./build/*
build/
dist
.cache

# IDE Related files
.vscode/*
.idea/

# Virtual Environment files
.venv/
bin/
lib/
pyvenv.cfg
.devcontainer

# Sphinx documentation
docs/build/doctrees/

# Tox
.tox/*

.pytest_cache/*
.ruff_cache/
__pycache__/

# Environment Variables / Secrets
.env
.env.*
tests/etc/.netmiko.yml

# Coverage
.coverage
coverage.xml
htmlcov/

# Mac stuff
.DS_Store
*/.DS_Store

netmiko_mcp.egg-info/
